<h1><%= @user.email%>'s Cart</h1>

<% if @cartItems.present?%>
<%@cartItems.each do |item|%>
  <span><%= item.item_size.item.item_name%></span>
  <span>$<%= item.item_size.item.price%></span>

<%end%>
<% else %>
<h1> Cart is empty, shop for items now!</h1>
<%end %>