@import "font-awesome";
.display-items {
  display: flex;
  justify-content: space-between;
  border: solid #a7d6f2 1px;
  font-family: "DolceVita";
  letter-spacing: 2px;
  width: 50%;
  min-width: 760px;
  padding-top: 0;
  margin: 0 auto;
  height: 600px;
}

.discription {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: solid #a7d6f2 1px;
  width: 50%;
  padding-top: 0;
  margin: 0 auto;
  width: 695px;
  height: 100px;
}

.itme-name-size-price {
  display: flex;
  background-color: #a7d6f2;
  padding: 10px;
  margin: 0;
  color: #173461;
  width: 742px;
}

.total :nth-child(2) {
  color: #a7d6f2;
}

.total {
  color: #173461;
  display: flex;
  justify-content: space-around;
}
