#ratingstars {
  color:#FEDF48;
}

#title {
  font-family: 'Rajdhani', sans-serif;
  font-size:50px;
  font-weight: bold;
  line-height: 76px;
  color:#173461;
  margin-left: 296px;  
}

.items-info{
  margin-top: 40px;
  display: grid;
  width: 900px;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  white-space: nowrap;
  text-align: center;
}

.items-info h2 a{
  font-family: 'Rajdhani', sans-serif;
  color: #44B6E8;
  font-weight: 700;
  font-size: 35px;
}

.item-details {
  padding-left: 23px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  h3 {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    font-size: 30px;
    font-weight: 100;
  }
}

* {box-sizing: border-box}

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 180.5%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.container:hover .overlay {
  opacity: 1;
}