@import "font-awesome";

.navigation-bar {	
  margin: 0;
  height: 82px;	
  width: 100vw;	
  background-color: #A7D6F2;
  color: #173461;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.navbar-right{
  display:flex;
  margin:0;
  justify-content: space-between;
  align-items: center;
  font-size: 40%;
  margin-right: 20px;
}

.navbar-logo-name{
  margin: 0;
  display: flex;
  height: 72px;
  align-items: center;
  margin-left: 10px;
}

.navbar-logo-name img {
  width: 50px;
  height: 50px;
  margin-right: 7px;
  margin-left: 15px;
}

.navbar-logo-name a {
  color: #173461;
}

.shopping-cart-icon a {
  color: #173461;
}

.login-or-register a {
  color: #173461;
  font-size: 1rem;
}