@import "font-awesome";

.form {
  border: solid #a7d6f2 1px;
  letter-spacing: 2px;
  font-family: "DolceVita";
  width: 50%;
  min-width: 560px;
  margin: 0 auto;

}

.sign_up{
  justify-content: center;
  display: flex;
  border: solid #a7d6f2 1px;
  padding: 10px;
  margin: 0 auto;
  color: #173461;
  width:50%;
  min-width: 460px;
  align-items: center;
  margin-top:2px;
}
.guest{
  background-color: #a7d6f2;
  height: 50px;
  justify-content: center;
  display: flex;
}

