.registration-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #173461;
  margin-top: 40px;
  }

.registration-main-contents {
  width: 30em;
  grid-area: 1 / 2 / 2 / 3; 
  border: #9BD7F5 1px solid;
  margin-top: 5em;
}
.sign-up-user-header {
  background-color: #9BD7F5;
  margin: 0;
  padding: 1em;
  text-align: center;
  font-family: 'Rajdhani';
}

.sign-up-user-header > h1 {
  margin: 0;
}

.sign-up-user-form {
  padding: 2em;
  color: #173461;	
}

.sign-up-user-form > input {
    padding: 10px;
    width: 95%;
    margin: 10px 0;
    font-size: 20px;  
}

.sign-up-user-fields {
  font-family: 'Rajdhani';	
  font-size: 30px;	
  font-weight: 500;	
  letter-spacing: 0.07px;	
  line-height: 53px;
  margin: 0;
}

.sign-up-user-fields > p {
  margin: 0;
}

.sign-up-user-fields > em {	
  font-size: 20px;	
}

.actions {
  margin: 0;
}

.box {
  height:2em;
  font-size:14pt;
  font-family: 'Rajdhani';
}

.email-box {
  width: 20em;
}

.form-checkbox {
  font-family: 'Open Sans'; 
  color: #44494A;
}

.register-button {
  height: 3rem;	
  width: 25.5rem;	
  background-color: #44B6E8;
  font-family: 'Rajdhani';	
  font-size: 30px;	
  font-weight: 500;	
}

.register-log-in {
  font-family: 'Rajdhani';	
  font-size: 30px;	
  font-weight: 500;	
  letter-spacing: 0.07px;	
  line-height: 53px;
  margin: 0;
  padding: 0;
}