.sub-nav {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  margin-top: 108px;
}
.arrow {
  font-family: 'Open Sans', sans-serif;
  color: #173461;
  font-size: 2rem;
  margin: 10px;
}
#links-1 a {
  color: #173461;
  font-size: 25px;
  margin-left: 240px;
}
#links-1 a:active {
  text-decoration: underline;
}
#links-2 a {
  color: #173461;
  font-size: 25px;
}
#links-2 a:active {
  text-decoration: underline !important; 
}
#links-3 a {
  color: #173461;
  font-size: 25px;
}
#links-3 a:active {
  text-decoration: underline !important; 
}
