<div class="admin users-list">
  <h1>Users</h1>

  <table class="users-list-table">
  <% @users.each do |user|%>
    <tr>
        <%= link_to user.email, admin_user_path(user) %>
    </tr> 
  <% end %>
      
  </table>
</div>
